*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

*:focus{
    outline: none;
}

.body{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(226, 222, 222);
    position: relative;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #dfdfdf;
}

.nav-wrapper{
    width: 70%;
    max-width: 1000%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 60%;
    margin-left: 30%;
    margin-top: 5px;
}

.pesquisar{
    position: relative;
    left: 20%;
    transform: translateX(-50%);
    width: 300px;
    height: 30px;
    background: rgb(245, 245, 245);
    border: 1px solid #dfdfdf;
    border-radius: 2.3px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: capitalize;
}

.pesquisar::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.group-icons{
    display: flex;
    height: 22px;
    position: relative;
    left: 40%;
}

.icon{
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: flex;
}

.user-icon{
    width: 30px;
    height: 25px;
    border-radius: 50%;
}

.main{
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.wrapper{
    width: 70%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30px;
}

.coluna-esquerda{
    display: flex;
    flex-direction: column;
}

.status-wrapper{
    width: 100%;
    height: 120px;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 10px;
    padding-right: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}

.status-wrapper::-webkit-scrollbar{
    display: none;
}

.status-card{
    flex: 0, 0, auto;
    width: 80px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.profile-pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.username{
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5);
}

.post-card{
    display: inline-block;
    width: 100%;
    background: #fff;
    border: 1px solid #dfdfdf;
    margin-top: 40px;
}

.profile-pic-post{
    display: flex;
    width: 70px;
    height: 60px;
    border-radius: 50%;
    padding: 3px;
}

.profile-pic-post img{
    padding: 1px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
}

.info{
    padding: 10px;
}

.post-foto{
    padding-top: 20px;
    height: 449px;
    width: 598px;
}

.username-post{
    flex-direction: column;
    margin-top: 30px;
    font-weight: bold;
    width: 100%;
    text-align: left;
    font-size: 14px;
    color: rgba(0, 0, 0);
}

.group-icons-post{
    display: flex;
    height: 30px;
    margin: 3px;
    left: 40%;
    padding: 3px;
}

.icon-post{
    height: 100%;
    cursor: pointer;
    margin: 0 5px;
    display: flex;
}











/* Deixar a tela responsiva*/

@media(max-width: 1024px){
    .nav-wrapper{
        width: 80%;
    }

    .post-card{
        max-height: 700px;
    }

    .post-foto{
        width: 100%;
    }
}

@media(max-width: 650px){
    body{
        background-color: #ffffff;
    }
    .nav-wrapper{
        width: 90%;
    }

    .post-card{
        width: 100%;
        max-height: 700px;
    }

    .coluna-esquerda{
        border: 1px solid transparent;
    }
}